h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    }

.list {
        list-style-type: none;
    }

.link {
    text-decoration: none;
}

ol, ul {
    text-decoration: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {

    margin-bottom: 32px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    }

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.accent-color {
    color: #F4F4FD;
    }

button {
    cursor: pointer;
    }    

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1158px;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    }

.main-nav .menu-address {
     justify-content: space-between;
     align-items: center;
    }

.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    width: 72px;
} 

.menu-list {
   display: flex;
   gap: 40px;
}

.menu-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    }
.menu-link:hover,
.menu-link:focus 
.menu-link:active {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
    }

.current::after  {
     content: "";
     position: absolute;
     left: 0;
     bottom: -1px;
     display: block;
     width: 100%;
     height: 4px;
     border-radius: 2px;
     background-color: #404bbf;
 }
.menu-item {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
    gap: 40px;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address {
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.address-list {
    display: flex;
    gap: 40px;
    }

.address-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero {
    box-shadow: 
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main-hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                      url(../images/hero/bg-people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.hero-name {
    display: flex;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    padding-top: 48px;
}

.button-hero {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFF;
    background-color: #4D5AE5;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    margin: 0 auto;
    border: none;
    align-items: flex-start;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-hero:hover,
.button-hero:focus {
    background-color: #404bbf;
    color: #FFF;
    }
        
.main-benefits {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
    } 
    
.benefits-container {
        align-items: center;
        width: 264px;
     }

.benefits-list {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    }

.svg-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    fill: #2E2F42;
    padding: 24px 100px;
    margin-bottom: 8px;
    }

.benefits-direct-name{
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    width: 264px;
    margin-bottom: 8px;
    }
.benefits-about {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
    height: 72px;
    }

.main-team {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-name {
    background: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

    }
            
.main-team-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
 }

.main-team-link:hover,
.main-team-link:focus {
    background-color: #404bbf;
}

.team-list {
    justify-content: space-around;
    display: inline-flex;
    gap: 24px;
    display: flex;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-name {
    padding-top: 32px;
    padding-bottom: 32px;
    }

 .team-name {
    color: #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    background-color: #fff;
    margin-bottom: 8px;
 }

 .team-post {
    text-align: center;
    color: #434455;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #fff;
 }

 .social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        gap: 24px;
    }

.social-list-item {
        display: flex;
        background-color: #4D5AE5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-content: center;
        gap: 24px;
    }

.social-list-link {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 16px;
        width: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

 .social-list-icon {
    fill: #f4f4fd;
    stroke: #F4F4FD;
 }

 .social-list-link:hover .social-list-icon,
 .social-list-link:focus .social-list-icon {
        background-color: #404bbf;
    }

 .main-portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
 }

.container-portfolio {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
 }

 .main-portfolio-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
 }

 .portfolio-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-link {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4 0, 0.2 1);
    }

.portfolio-link:hover {
    border: 1px solid #F4F4FD;
   
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.portfolio-img {
    overflow: hidden;
    position: relative;
}

.section-portfolio-images {
    border: 1px solid #F4F4FD;
    
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-link:hover {
        
    }

.section-portfolio-images {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description-text  {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

 .portfolio-name {
    color: #2E2F42;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
 }
.portfolio-post {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
       /* footer*/
 .page-footer{
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    flex-shrink: 0;
    padding: 100px 0;
    margin: 0 auto;
    
 }

.page-footer-container {

    align-items: baseline;
    margin-right: 120px;
    }

.footer-text {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin-bottom: 16px;
}
.logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    }
.footer-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 16px;
    }
.social-footer-post {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    }

    .social-list-footer {
            display: flex;
            gap: 16px;
        }

        .social-footer-link {
            display: flex;
            fill: #F4F4FD;
            align-items: center;
            justify-content: center;
            column-gap: 16px;
            width: 100%;
            height: 100%;
            background-color: #4d5ae5;
            border-radius: 50%;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .social-footer-link:hover,
        .social-footer-link:focus {
                    background-color: #404bbf;
                }
