.list {
        list-style-type: none;
    }

.link {
    text-decoration: none;
}

ol, ul {
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
.accent-color {
        color: #F4F4FD;
    }

button {
        cursor: pointer;
    }    

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.menu-link {
    /* Body Medium */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #2e2f42;
    }

.menu-item {
        /* Body Medium */
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;/* 150% */
        letter-spacing: 0.32px;
        color: #2e2f42;  
}
.menu-link:hover,
.menu-link:focus {
    background-color: #404bbf;
    }
        /* Body */
.menu-address-item {
        font-style: normal;
    }

.main-hero {
        background: #2e2f42;
    }
       /* Header 1 */
.hero-name {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;                /* 107.143% */
        letter-spacing: 1.12px;
        color: #fff;
}

.button-hero {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFF;
        background-color: #4D5AE5;
}

.button-hero:hover,
.button-hero:focus {
        background-color: #404bbf;
        color: #FFF;
    }
        
.main-benefits {
        background: #FFF;
    }       /* Header 2 */
.benefits-name {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        /* 111.111% */
        letter-spacing: 0.72px;
        color: #2E2F42;
   }

.benefits-direct-name{
        color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }
.benefits-about {
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }
            /* Section 3 */
.main-team {
        background: #F4F4FD;
}
.page-name {
        background: #ffffff;
    }
            
.main-team-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: #2E2F42;
 }

.main-team-link:hover,
.main-team-link:focus {
        background-color: #404bbf;
    }

 .team-name {
    color: #2E2F42;
    text-align: center;
    /* Header 3 */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    background-color: #fff;
 }

 .team-post {
    color: #434455;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #fff;
 }

 .main-portfolio {
    background: #FFF;
 }
 .main-portfolio-name {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    color: #2E2F42;
 }

 .portfolio-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.4px;
 }
.portfolio-post {
    color: #434455;
        /* Body */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
}
       /* footer*/
 .page-footer{
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    flex-shrink: 0;
    padding: 100px 0;

 }

.footer-text {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264;
}
.logo-footer {
        display: inline-block;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-bottom: 16px;
    }
